.topNavBarLogoLogin {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #0a0b0b;
}

.topNavBarLogo {
    max-height: 115px;
    padding: 20px;
}
.topNavBarLogoM {
    display: none;
    max-height: 80px;
    padding: 20px;
}
@media (max-width: 800px) {
    .topNavBarLogo {display: none;}
    .topNavBarLogoM {display: block;}
}

.topNavBarLoginDiv {
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-right: 50px;
    text-transform: uppercase;

    @media (max-width: 800px) {
        display: none;
    }
}
.topNavBarLoginSep {
    color: var(--fadedColor);
}

.topNavBarPageSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-top: var(--fadedColor) solid 2px;
    border-bottom: var(--fadedColor) solid 2px;
    background-color: #0a0b0b;
}

.topNavBarPageLink {
    height: 100%;
}
.topNavBarPageBtn {
    padding: 15px 25px;
    height: 100%;
    background: none;
    border: none;
    border-left: 2px var(--fadedColor) solid;
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    color: var(--textSecondary);
    --activeColor: var(--textSecondary);
}
.topNavBarPageBtn:hover {
    background-color: var(--fadedColor);
}
.topNavBarPageLink:last-child {
    border-right: 2px var(--fadedColor) solid;
}
.topNavBarPageActive {
    color: var(--textPrimary);
    border-bottom: var(--activeColor) 2px solid; 
}
.topNavBarPageActiveBlue {
    --activeColor: var(--highlightColor);
}

.topNavBarUserName {
    color: var(--textSecondary);
}

.topNavBarSignOut {
    padding: 7px 10px;
    color: var(--textSecondary);
    border: var(--fadedColor) 1px solid;
    border-radius: 5px;
    background-color: var(--fadederColor);
    text-transform: uppercase;
}
.topNavBarSignOut:hover {
    filter: brightness(1.2);
    cursor: pointer;
    color: var(--textPrimary);
}