.shipList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    gap: 25px;
    background-image: url(/Star_BG.jpeg);
    background-position: center top;
    background-repeat: repeat;
}

.shipListLoadingDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}
.shipListLoading {
    padding: 10px 20px;
    color: var(--textSecondary);
    background-color: var(--fadederColor);
}